<div class='booyah-box col-xs-12 col-xs-offset-1 col-sm-10 col-sm-offset-1'>
  <h1><%= current_course.title %></h1>
  <br />
  <div class='instructor_course_description col-xs-8'>
    <p><%= safe_join(current_course.description.split("\r\n"), "<br />".html_safe) %></p>
  </div>
  <div class'instructor_course_image col-xs-4'>
    <img src='<%= current_course.image %>' class='img-responsive' alt='Responsive image' style='width: 260px'>
  </div>

  <%= link_to 'Preview as Student...', course_path(current_course), class: 'btn btn-warning pull-right' %>
  <br class='clear' />

  <div class='text-center'>
    <%= link_to 'Add a new section ...', new_instructor_course_section_path(current_course), class: 'btn btn-primary btn-lg' %>
    <br />
    <br class='clear' />
  </div>

  <div class='add_image'>
    <%= link_to 'Edit', edit_instructor_course_path(current_course), class: 'btn btn-primary' %>
  </div>

  <ul>
    <% current_course.sections.order('title ASC').each do |section| %>
      <li>
        <%= section.title %>
        <%= link_to "New Lesson", new_instructor_section_lesson_path(section), class: 'pull-right btn btn-primary btn-xs' %>
        <ul>
          <% section.lessons.order('title ASC').each do |lesson| %>
            <li>
              <b><%= lesson.title %></b> - 
              <%= lesson.subtitle %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>



</div>