<div class='booyah-box col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1'>
  <h1><%= @course.title %></h1>

  <div class='course-image-summary col-sm-4 col-xs-12 text-center'>DIV: course_image_summary
    <img src='<%= @course.image %>' class='img-responsive' alt='Responsive image' style='width: 260px'>
    <span class='label label-default'>
      Cost: <%= number_to_currency @course.cost %>
    </span>
    <br /><br />
    <% if current_user && current_user.enrolled_in?(@course) %>
      <h3 class='label label-default'>You are Enrolled!</h3>
    <% else %>
      <% if @course.free? %>
        <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-primary', method: :post %>
      <% else %>
        <%= form_tag course_enrollments_path(@course) do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description='<%= @course.title %>'
                  data-amount='<%= (@course.cost * 100).to_i %>'
          >            
          </script>
        <% end %>   <!-- end form_tag -->
      <% end %>   <!-- course free or premium -->
    <% end %>   <!-- end if user enrolled -->


    <% if current_user && current_user == @course.user %>
      <br /><br />
      <%= link_to 'Instructor Admin', instructor_course_path(@course), class: 'btn btn-danger btn-large' %>
    <% end %>
  </div>


  <div class='course-description col-sm-8 col-xs-12'>DIV: course_description<br />
    <%= safe_join(@course.description.split("\r\n"), "<br />".html_safe) %>
  </div>

  <div class='course-breakout col-xs-12'>
    <% @course.sections.order('title ASC').each do |section| %>
    <br /><br />

      <div class='course-section col-xs-12'>
        <h3><%= section.title %></h3>
        <% section.lessons.order('title ASC').each do |lesson| %>

          <div class='col-xs-12 col-sm-6'>
            <div class='course-lesson text-center'>
              <br />
              <%= link_to lesson_path(lesson) do %>
                <b><%= lesson.title %></b>
                <br />
                <%= lesson.subtitle %>
              <% end %>   <!-- link end -->
            </div>   <!-- course_lesson -->
          </div>

        <% end %>   <!-- Lessons each loop -->
        <br class='clear' />
      </div>   <!-- course_section -->

    <% end %>  <!-- Sections each loop -->
  </div>

</div>