<div class='booyah-box col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1'>
  <h1><%= @course.title %></h1>

  <div class='course-image-summary col-sm-4 col-xs-12 text-center'>
    <img src='<%= @course.image %>' class='img-responsive' alt='Responsive image' style='width: 260px'>


    <% if @course.cost == 0 %>
      <span class='course-cost label label-default pull-left'>Cost: FREE!</span>
    <% else %>
      <span class='course-cost label label-default pull-left'>Cost: <%= number_to_currency @course.cost %></span>
    <% end %>

    <% if current_user && current_user.enrolled_in?(@course) %>
      <span class='course-enroll label label-default pull-right'>You are Enrolled!</span>
      <br />
    <% else %>
      <% if @course.free? %>
        <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-flixter btn-enroll', method: :post %>
        <br />
      <% else %>
        <%= form_tag course_enrollments_path(@course) do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description='<%= @course.title %>'
                  data-amount='<%= (@course.cost * 100).to_i %>'
          >            
          </script>
        <% end %>   <!-- end form_tag -->
      <% end %>   <!-- course free or premium -->
    <% end %>   <!-- end if user enrolled -->




    <% if current_user && current_user == @course.user %>
      <br />
      <%= link_to 'Instructor Admin', instructor_course_path(@course), class: 'btn btn-flixter btn-instructor btn-large pull-left' %>
    <% end %>
  </div>

  <div class='course-description col-sm-8 col-xs-12'>
    <%= safe_join(@course.description.split("\r\n"), "<br />".html_safe) %>
  </div>

  <div class='course-breakout col-xs-12'>
    <% @course.sections.rank(:row_order).each do |section| %>
      <div class='course-section col-xs-12'>
        <div class='course-section-header'>
          <%= section.title %>
        </div>
        <% section.lessons.rank(:row_order).each do |lesson| %>
          <div class='col-xs-12 col-sm-10 col-sm-offset-1'>
            <div class='course-lesson text-center'>
              <%= link_to lesson_path(lesson) do %>
                <b><%= lesson.title %></b>
                <br />
                <%= lesson.subtitle %>
              <% end %>   <!-- link end -->
            </div>   <!-- course_lesson -->
          </div>
        <% end %>   <!-- end section.lessons.rank -->
        <br class='clear' />
      </div>   <!-- course_section -->
    <% end %>  <!-- Sections each loop -->
  </div> <!-- course-breakout -->

</div>